.Main {

    .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;

  button {
    border: none;
    background: #f0f0f0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;

    &:hover {
      background: #ff6600;
      color: #fff;
    }

    &.active {
      background: #ff6600;
      color: #fff;
    }
  }
}

  padding: 2rem;

  .main-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      text-align: center;
      font-size: 2rem;
    }

    .filters {
      display: flex;
      
      gap: 20%;
      align-items: center;
      select{
        border-radius: 10px;
        width: 40%;
        padding: 0.2rem 0.3rem;
      }

      input {
        padding: 0.5rem 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        width: 52%;
      }

      .category-buttons {
        display: flex;
        gap: 1rem;

        button {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 8px;
          background-color: #f0f0f0;
          cursor: pointer;

          &.active {
            background-color: #ff6600;
            color: #fff;
          }
        }
      }
    }
  }

  .dishes-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;

    // Responsive grid
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      background: #f8f8f8;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }

      .info {
        padding: 1rem;

        h3 {
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          color: #555;
          margin-bottom: 0.5rem;
        }

        .price {
          font-weight: bold;
          color: #ff6600;
        }
      }
    }
  }
}
