.Main {
  padding: 2rem;

  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;

    button {
      border: none;
      background: #f0f0f0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.2s;

      &:hover {
        background: #ff6600;
        color: #fff;
      }

      &.active {
        background: #ff6600;
        color: #fff;
      }
    }
  }

  
  .main-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .mainn {
      display: flex;
      align-items: center;
      gap: 16%;

      h2 {
        font-size: 2rem;
        text-align: center;
      }
    }

    .filters {
      display: flex;
      gap: 20%;
      align-items: center;

      input {
        padding: 0.5rem 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        width: 52%;
      }

      select {
        border-radius: 10px;
        width: 40%;
        padding: 0.2rem 0.3rem;
      }
    }
  }


  .dishes-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;

    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

  
    a {
      text-decoration: none;
      color: black;
    }

    .card {
      background: #f8f8f8;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      cursor: pointer;

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }

      .info {
        padding: 1rem;

        h3 {
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          color: #555;
          margin-bottom: 0.5rem;
        }

        .price {
          font-weight: bold;
          color: #ff6600;
        }
      }
    }
  }
}
